<!DOCTYPE html>
<html>
  <head>
    <title>De tai 34</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/index.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <style>
      #loading {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div class="App">
      <div class="" id="BoxImageLogin" style="position: absolute; top:10px;right: 10px;display: none">
        <img src="" alt="" id="imageLogin" style="width: 300px;height: 300px;">

        <div class=""style=position: relative;>
            <span id="closeImgageLogin" style="position: absolute; top:0; right:0;"><h3 class="text-white">X</h3></span>
        </div>

      </div>
      <div id="loading">
        <img src="../static/loadingTransparent.gif"/>
      </div>
      <header class="App-header">
        <p><u> LOGIN </u></p>
        <!-- <div className="pre_img">
          <span><img id="imagebox" src="" /></span>
        </div> -->
        <!-- <video width="320" height="240" controls>
          <source src="/static/video_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video> -->
        <!-- <button name="cam" class="btn btn-primary" id="opencam">Video Cam</button> -->
        <br/>
        <hr class="line" />
        <div class="d-flex">
          <form>
            <input
              id="imageinput"
              type="file"
              name="image"
              onchange="readUrl(this)"
              class="form-control"
            />
          </form>
          <button name="send" class="btn btn-primary" id="sendbutton">Xác thực hình ảnh</button>
        </div>
        
        <br/>
        <!-- <div id="link">
          <a href="" id="download" download>Download</a>
        </div> -->
      </header>
    </div>
  </body>
</html>
